<div class="m-3">
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-2"></div>
    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-8">
      <div class="d-flex justify-content-end">
        <div class="btn-color mr-3" routerLink="/post">Tất cả bài viết</div>
        <div class="btn-color" [routerLink]="['/', 'post', 'create']">
          Bài viết mới
        </div>
      </div>
      <div class="m-5">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-2"></div>
  </div>
</div>
