.chat-box {
  width: 100%;
  position: fixed;
  bottom: 15px;
  display: flex;
  justify-content: flex-end;
  right: 25px;
  align-items: center;
}

.btn-chat-box {
  background-color: #4169e1;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  outline: none;
}