<section>
  <div class="row d-flex align-items-center justify-content-between">
    <div class="col-sm-12 col-lg-7 col-md-7 col-xl-6 text-center">
      <img class="img-friend" src="assets/images/a2.jpg" />
      <img class="img-friend" src="assets/images/qa.jpg" />
      <img class="img-friend" src="assets/images/dg.jpg" />
      <img class="img-friend" src="assets/images/tl.jpg" />
    </div>
    <div class="col-sm-12 col-lg-5 col-md-5 col-xl-6 margin-bottom">
      <h5 class="my-4 text-center">Some pictures with my friends</h5>
      <h1 class="my-3 text-color text-center">My Interests</h1>
      <div class="interests-list">
        <i class="fa fa-gamepad interests-item">
          <small class="tooltiptext">Play Game</small>
        </i>
        <i class="fa fa-futbol-o interests-item">
          <small class="tooltiptext">Football</small>
        </i>
        <i class="fa fa-film interests-item">
          <small class="tooltiptext">Watch Movies</small>
        </i>
        <i class="fa fa-headphones interests-item">
          <small class="tooltiptext">Listen Music</small>
        </i>
        <i class="fa fa-shopping-cart interests-item">
          <small class="tooltiptext">Shopping</small>
        </i>
      </div>
    </div>
  </div>
</section>
