.chat-user, .chat-title {
  display: flex;
}

.chat-title {
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
}

.chat-title .chat-avatar {
  width: 30px;
  height: 30px;
}

.chat-title .chat-username {
  font-size: 20px;
  margin-left: 10px;
}

.chat-home {
  height: 460px;
  width: 350px;
  background-color: #e4e6eb;
  margin: 0 auto;
  position: fixed;
  bottom: 15px;
  right: 85px;
  border-radius: 20px;
}

.chat-message {
  height: auto;
  width: 60%;
  margin: 10px 15px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 13px;
  text-align: left;
}

.chat-message-left {
  background-color: white;
  float: left;
}

.chat-message-right {
  background-color: #4169e1;
  float: right;
  color: #fff;
}

.chat-message-content {
  margin: 5px 0;
}

.chat-username {
  font-weight: bold;
  margin-left: 5px;
}

.chat-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  overflow-y: auto;
  height: calc(400px - 67px);
}

.chat-input {
  display: flex;
}

.chat-input input {
  margin: 0 10px;
  font-size: 13px;
}

.chat-input button {
  margin-right: 5px;
  background-color: #4169e1;
  border-radius: 50%;
}

.fa-paper-plane {
  color: white;
}