<section>
    <div class="row d-flex align-items-center">
        <div class="col-sm-12 col-lg-7 col-md-12 d-flex justify-content-center">
            <img class="img-responsive" src="assets/images/gym.jpg" />
        </div>
        <div class="col-sm-12 col-lg-5 col-md-12 about">
            <h5 class="mt-5">HI THERE !</h5>
            <h1 class="bold">I'M <span class="text-color">TRAN XUAN SON</span></h1>
            <p>I'm a Vietnamese based web front‑end developer focused on crafting clean & user‑friendly experiences</p>
            <button class="btn-color mt-4" routerLink="/introduce/about-me">MORE ABOUT ME</button>
        </div>
    </div>
</section>